# Backend env (local dev)
PORT=5000
MONGO_URI=mongodb+srv://<db_user>:<db_password>@<cluster-url>/<db_name>?retryWrites=true&w=majority
JWT_SECRET=<generate_a_long_random_secret>
CLIENT_URL=http://localhost:5173
NODE_ENV=development
